body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.ryu {
    width: 659px;
    height: 494px;
    display: inline-block;
}

.ryu-hulk {
    -webkit-filter: hue-rotate(90deg);
   	width: 659px;
   	height: 494px;
	display: inline-block;
	position: absolute;
    left: 650px;
    transform: scaleX(-1);
}


.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .ryu-hulk-still, 
.ryu-hulk-ready, .ryu-hulk-throwing, .ryu-hulk-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, 
.ryu-hulk-ready, .ryu-hulk-throwing, .ryu-hulk-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.ryu-hulk-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-hulk-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-hulk-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-hulk-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .hadouken-hulk, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool,
.ryu-hulk-still, .ryu-hulk-ready, .ryu-hulk-throwing, .ryu-hulk-cool {
  background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 167px;
	left: 520px;
}

.hadouken-hulk {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: right;
	position: absolute;
	z-index: 10;
	top: 167px;
	left: 520px;
}

.textcontent {
    position: absolute;
    left: 650px;
    height: 425px;
    width: 600px;
    padding-top: 75px;
    display: inline-block;
}

.hidden {
	display: none;
}



.how-to p {
    width: 50%;
    color: black;
    font-size: 24px;
    line-height: 45px;
}